body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url(/bathroom 2.jpg);
    background-size: cover;
    overflow: hidden;
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;

}
.clock{
    display: flex;
}

.clock div{
margin: 5px;

}
.clock span{
    width: 100px;
    height: 80px;
    background: slateblue;
    opacity: .8;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px black;
}
.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    opacity: .8;
}
.clock #ampm {
    bottom: 39%;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: forestgreen;

}
